h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
}

ul {
  font-size: 0.75rem;
  font-weight: 300;
  list-style-position: inside;
}

table {
  border-collapse: collapse;
  width: 600px;
  text-align: center;
  border: 2px solid rgb(200, 200, 200);
  border-color: aliceblue;
  letter-spacing: 1px;
}

td {
  border: 1px solid;
}

th {
  background-color: #0b3d91;
  border: 1px solid;
}

#main-bullet {
  font-size: 1.5rem;
}

.total-info {
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.layout {
  padding: 10px;
  position: relative;
  top: 0;
  left: 0;
}

.pfp {
  width: 80px;
  margin-right: 10px;
  display: inline;
  float: left;
}

.dev-team {
  line-height: 1.5;
  margin-left: auto;
}

.dev {
  margin: 20px auto 20px auto;
}
