.TriviaContainer {
  text-align: center;
  color: white;
}

.title-label {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 5rem;
  letter-spacing: -0.05em;

  background: linear-gradient(20deg, #113989, #ffe853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.overlay {
  display: inline-block;
}

.card {
  border: 1px solid;
  background-color: #111112;
}

.card-body {
  background-color: #111112;
  border-radius: 10px;
}
