.TriviaContainer {
  text-align: center;
  color: white;
}

.title-label {
  position: relative;
  margin-bottom: 50px;
  padding-top: 50px;
  font-size: 5rem;
  letter-spacing: -0.05em;
  background: linear-gradient(20deg, #113989, #ffe853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overlay {
  display: inline-block;
}

.card {
  border: 1px solid;
  background-color: #111112;
  margin: 20px;
}

.card-body {
  background-color: #111112;
  border-radius: 10px;
  opacity: 0.8;
}

.column {
  margin: auto;
}
