body {
  background-color: #000000;
  font-family: "Ubuntu", sans-serif;
}

ul {
  padding: 0;
}
.HomeView {
  height: 900px;
  width: 100%;
}

.NavBar {
  padding-left: 20px;
  padding-right: 20px;
}

.navTitle {
  font-size: 30px;
}

.HomeViewText {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.HomeViewText .TextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}

.Title {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  letter-spacing: -0.05em;

  background: linear-gradient(20deg, #113989, #ffe853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Subtitle {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  letter-spacing: -0.05em;
  color: rgb(192, 192, 192);
}

.CatalogContainer {
  border-collapse: separate;
  border-radius: 10px;
  display: flex;
  height: 900px;
  width: 100%;
}

.PlanetContainer {
  border-collapse: separate;
  width: 100%;
  height: 100%;
  flex: right;
}

.Sidebar {
  position: absolute;
  z-index: 9;
  height: 70%;
  width: 200px;
  margin: 15px;
  flex: left;
  opacity: 0.8;
}

.SidebarList {
  height: 100%;
  padding: 8px;
  border-radius: 10px;
  background-color: #111112;
}

.SidebarList .SideBarRow {
  width: 100%;
  height: 50px;
  background-color: rgb(68, 68, 68);
  border: 1px, solid;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  color: rgb(232, 232, 232);
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.SideBarRow:hover {
  cursor: pointer;
  background-color: #111112;
  border: 2px solid rgb(68, 68, 68);
  padding: 10px;
}

.SearchBar {
  margin-top: 5px;
  margin-bottom: 25px;
  height: 45px;
  width: 100%;
  display: flex;
}

.SearchBar .Input {
  height: 100%;
  width: 100%;
  border: 0;
  color: #2f2f2f;
  border-radius: 0.7rem;
  padding: 5px;
  padding-left: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.Sources {
  color: white;
}
/* boxShadow: "0 0 5px rgba(0, 0, 0, 0.3)" */

.InfoCard {
  background-color: #2b2b2b;
  width: 600px;
  opacity: 0.9;
  padding: 20px;
  border-radius: 10px;
  margin-left: 100px;
  overflow-y: auto;
  height: 100%;
}

.InfoCard h1,
h3,
p {
  color: white;
  user-select: none;
}
.CardTitle {
  z-index: 2;
  position: relative;
  margin: 12px 0 4px 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  color: #18181b;
}

.CardDetails {
  z-index: 2;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: #52525b;
}

.shine {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.CardBackground {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(
    circle at 60% 5%,
    black 0%,
    black 15%,
    transparent 60%
  );
  mask-image: radial-gradient(
    circle at 60% 5%,
    black 0%,
    black 15%,
    transparent 60%
  );
}

.planetImage {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
/*Animating the collapsible stuff */

.InfoCardMinimize {
  width: 70px;
  height: 70px;
}

.InfoCardMaximize,
.InfoCardMinimize {
  border-radius: 100%;
  color: #ecf0f1;
  background: black;
  border: 0;
  font-size: 1.5em;
  position: relative;
  margin-left: 500px;
  display: inline-block;
}

.InfoCardMaximize span,
.InfoCardMinimize span {
  position: absolute;
  transition: 300ms;
  background: white;
  border-radius: 2px;
}

.InfoCardMaximize span:first-child {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}
.InfoCardMaximize span:last-child {
  left: 50%;
  right: 50%;
}
.InfoCardMaximize:hover span:last-child {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

.InfoCardMinimize span:first-child {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}
.InfoCardMinimize span:last-child {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

.InfoCardMinimize:hover span,
.InfoCardMaximize:hover span {
  transform: rotate(90deg);
}

.InfoCardMinimize:hover span:last-child {
  left: 50%;
  right: 50%;
}

.expandedInfoCard {
  height: 100%;
  width: 100%;
}

.InfoCardMaximize {
  display: none;
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.InfoCard-Container {
  position: fixed;
  right: 0;
  bottom: 0;
}

.FormContainer{
  text-align: center;
  color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.FormBox {
  width: 290px;
  position: relative;
}

.FormField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.FormField ::before {
  font-size: 20px;
  position: absolute;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.FormInput {
  text-align: center;
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;

}

.FormButton {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #526a52;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.FormError{
  color: rgb(233, 81, 81)
}
