
body{
  background-color:#000000;
  margin: 10px;
}

.navig {
  width: 100%;
}

.CatalogContainer{
  border: 5px, solid gray;
  border-radius: 10px;
  display: flex;
  height: 900px;
  width: 100%;
}

.PlanetContainer {
  width: 85%;
  height: 100%;
  flex: right;
}

.Sidebar {
  height: 100%;
  width: 15%;
  border-radius: 10px;
  background-color: #282c34;
  flex: left;
}

.SidebarList {
  height: 100%;
  padding: 5px;
  background-color: #282c34;

}

.SidebarList .row {
  width: 100%;
  height: 50px;
  background-color: gray;
  border: 1px, solid, #282c34;
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  color: azure;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.SidebarList #active {
  background-color: #282c34;
  border: 1px, solid, grey;
  border-radius: 10px;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #282c34;

}